:root{
    --primary-normal:#06121E;
    --primary-dark:#040f1a;
    --primary-light:#0c2135;

    --primary-normal1:#090d11;
    --primary-dark1:#06090c;
    --primary-light1:#1a1f25;

    --primary-normal2:#232224;
    --primary-dark2:#161617;
    --primary-light2:#353436;

    --primary-normal3:#ffffff;
    --primary-dark3:#EDEAEF;
    --primary-light3:#fefbff;

    --primary-normal:#D94140;
    --primary-dark:#b42b2b;
    --primary-light:#d34040;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}