* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

@import "_colors.scss";
@import "_header.scss";
@import "_layout.scss";

:root {
    --primary-normal: #06121E;
    --primary-dark: #040f1a;
    --primary-light: #0c2135;

    --primary-normal1: #090d11;
    --primary-dark1: #06090c;
    --primary-light1: #1a1f25;

    --primary-gray-normal: #232224;
    --primary-gray-dark: #161617;
    --primary-gray-light: #353436;

    --primary-withe-normal: #ffffff;
    --primary-withe-dark: #EDEAEF;
    --primary-withe-ligth: #fefbff;

    --primary-red-normal: #D94140;
    --primary-red-dark: #b42b2b;
    --primary-red-light: #d34040;
}

// FIM DO ROOT

body {
    font-family: "Sora", sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;

    background: var(--primary-normal);
}

button {
    cursor: pointer;
    font-family: "Sora", sans-serif;
}

svg {
    width: 100%;
}

img {
    width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
}